@model SodaSeller.Models.SodaProducts

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить этот продукт?</h3>
<div>
    <h4>Продукты в наличии</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductImage)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться</a>
    </form>
</div>
